@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/SourceSansPro-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/SourceSansPro-Bold.ttf') format('truetype');
}

@keyframes scale-up-anim {
    from {
        transform: scale(0.1);
        opacity: 0;
    }
    
    to {
        transform: scale(1);
        opacity: 1
    }
}

@keyframes scale-down-anim {
    from {
        transform: scale(1);
        opacity: 1;
    }
    
    to {
        transform: scale(0.1);
        opacity: 0;
    }
}

body.vfx-allowed, body.vfx-allowed * {
    transition: background 0.5s, box-shadow 0.5s;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body, html, button, input {
    font-family: 'Source Sans Pro', sans-serif;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
 
::-webkit-scrollbar-track {
    /*-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(100,100,100,0.8); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(100,100,100,0.4); 
}
::-webkit-scrollbar-corner {
    background: white;
}

#dashboard {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    overflow: auto;
}

#entries {
    position: fixed;
    z-index: 99999;
    left: -285px;
    top: 0px;
    height: 100%;
    width: 300px;
    box-sizing: border-box;
    border-right: 1px solid gray;
    box-shadow: 0px 0px 5px black;
    background-color: white;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

body.vfx-allowed #entries {
    transition: left 0.5s, background 0.5s, box-shadow 0.5s;
}

#entries:hover {
    left: 0px;
}

#entries .entries-arrow {
    user-select: none;
    -webkit-user-select: none;
    position: absolute;
    right: 2px;
    top: 50%;
    display: block;
    transform: translateY(-50%);
}

#entries h3 {
    margin-bottom: 0;
    border-bottom: 1px solid black;
    width: calc(100% - 20px);
}

#entries ul {
    list-style-type: none;
}

#entries>ul {
    padding: 0;
    flex: 1;
    overflow: auto;
    margin: 0;
}

#entries .entry-add {
    font-size: .8em;
    margin-right: 1em;
    opacity: 0;
    pointer-events: none;
    height: 19px;
    line-height: 19px;
    font-size: 0.6em;
}

#entries .list ul {
    display: block;
    overflow: auto;
    max-height: 0;
    opacity: 0;
}

body.vfx-allowed #entries .list ul {
    transition: transform 0.3s, opacity 0.3s, height 0.3s, max-height 0.3s;
}

#entries .list li {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
}

#entries .list>li {
    padding-right: 20px;
}

#entries h3 {
    display: flex;
}

#entries h3 input {
    flex: 1;
    margin-left: 1em;
    padding-left: 0.5em;
}

#entries .list li:not(.none)>.entry-add {
    opacity: 1;
    pointer-events: all;
}

#entries .list li.open>ul {
    max-height: 1500px;
    opacity: 1;
}

#controls {
    text-align: center;
    border-top: 1px solid black;
}

#place-screen {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    pointer-events: none;
    opacity: 0;
    z-index: 99999;
    -webkit-user-select: none;
}

body.vfx-allowed #place-screen {
    transition: opacity 0.2s;
}

#place-screen.active {
    pointer-events: all;
    opacity: 1;
}

#place-screen h1 {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    text-align: center;
    margin: 0;
    transform: translateY(-50%);
}

#place-screen .place-cancel {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.widget {
    margin: 2px;
    position: absolute;
    background: white;
    box-sizing: border-box;
    border: 1px solid transparent;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.container {
    margin: 2px;
    position: absolute;
    background: white;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    min-width: 100px;
    min-height: 100px;
    border: 1px solid transparent;
}

#dashboard>.widget, #dashboard>.container {
    margin-bottom: 2em;
    margin-right: 2em;
}

body.vfx-allowed .inserted-element {
    -webkit-animation: scale-up-anim 0.3s;
}

body.vfx-allowed .removed-element {
    -webkit-animation: scale-down-anim 0.3s;
}

.widget.drag, .container.drag {
    box-shadow: 2px 2px 2px gray;
}

.widget[data-label=top] {
    flex-direction: column;
}

.widget[data-label=none] label {
    display: none;
}

.widget[data-editable=true], .container[data-editable=true] {
    border: 1px dotted gray;
    border-radius: 2px;
}

.widget[data-editable=true].reorder-widget *, .container[data-editable=true].reorder-widget * {
    opacity: 0;
    background: transparent;
}

.container[data-editable=true]:not([data-editing=true]):not(.not-editing) .widget, .container[data-editable=true]:not([data-editing=true]):not(.not-editing) .container {
    opacity: 0.5;
    pointer-events: none;
}

.container[data-editing=true] {
    border: 1px solid blue;
}

.container[data-editing=true]:not(.not-editing) {
    background: rgb(200, 200, 255);
}

.widget label {
    -webkit-user-select: none;
}

.not-editing {
    background: darkgray;
}

.container.drop-target, .container.drop-target[data-editing=true]:not(.not-editing), .container.drop-target[data-editing=true] {
    border: 1px solid green;
    background: rgb(200, 255, 200);
}

.container.remove-target, .container.remove-target[data-editing=true]:not(.not-editing), .container.remove-target[data-editing=true] {
    border: 1px solid red;
    background: rgb(255, 200, 200);
}

.widget[data-editable=true]:after, .container[data-editable=true]:after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 5px;
    height: 5px;
    background: url(assets/resize.png);
    cursor: nwse-resize;
}

.widget[data-editable=true]:hover, .container[data-editable=true]:hover {
    border: 1px solid gray;
}

.widget-input {
    flex: 1;
    min-width: 0;
    resize: none;
}

.widget[data-editable=true] .widget-input {
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}

.widget label, .widget input[type=checkbox], .widget input[type=radio] {
    align-self: center;
}

input[type=checkbox] {
    vertical-align: middle;
}

fieldset {
    border-radius: 5px;
}

button {
    font-size: 1.2em;
}

.widget-array-container {
    border: 1px solid black;
    border-radius: 5px;
    overflow: auto;
    flex: 1;
}

.widget-array-container select {
    width: 100%;
}

.widget-array-container ul {
    list-style-type: none;
    padding: 0;
}

.widget-array-container ul li {
    border-bottom: 1px solid black;
    padding-left: 1em;
    padding-right: 1em;
}

.widget-array-container ul li:nth-child(1) {
    border-top: 1px solid black;
}

.plugin-item {
    border-top: 1px solid gray;
}

.plugin-item .file, .plugin-item .version {
    display: inline-block;
    font-size: 0.8em;
    color: gray;
    padding-right: 1em;
}

.plugin-item .name {
    display: inline-block;
    padding-right: 1em;
}

input[type=checkbox].redgreen {
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    background: red;
    transition: none;
    border-radius: 2px;
    min-width: 16px;
    min-height: 16px;
}

input[type=checkbox].redgreen:checked {
    background: green;
}

.widget-graph {
    width: 100%;
    height: 100%;
    min-width: 300px;
    min-height: 100px;
}

.connection-status {
    margin: 0;
    width: 100%;
    text-align: center;
    background: red;
    color: white;
}

.connection-status::before {
    content: "Not connected";
}

.connection-status.connected {
    background: green;
    color: white;
}

.connection-status.connected::before {
    content: "Connected";
}

.container-FlowContainer {
    white-space: normal;
    word-wrap: normal;
}

.container-FlowContainer>.widget, .container-FlowContainer>.container {
    position: relative;
    top: 0px !important;
    left: 0px !important;
}

.container-FlowContainer>.widget {
    display: inline-flex;
}

.container-FlowContainer>.container {
    display: inline-block;
}

.container-FlowContainer>.container-FlexContainer {
    display: inline-flex;
}

.container-Container .container {
    position: absolute;
}

.widget-Command button {
    -webkit-user-select: none;
}

.widget.hl {
    border: 1px dashed green !important;
}

.container-FlexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1px;
    min-height: 1px;
}

.container-FlexContainer .widget, .container-FlexContainer .container {
    position: relative;
    top: 0px !important;
    left: 0px !important;
    /*width: 100% !important;
    height: 100% !important;*/
    margin: 0;
}

.profile-container {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.profile-container .current-profile {
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.profile-container * {
    margin-right: 0.2em;
}

.dialog {
    background: white;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) scale(0.1);
    color: black;
    display: flex;
    flex-direction: column;
    max-width: 90%;
    max-height: 90%;
}

body.vfx-allowed .dialog {
    transition: transform 0.3s cubic-bezier(.87,-.41,.19,1.44);
}

.dialog-screen {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    pointer-events: none;
    opacity: 0;
    z-index: 999999;
}

body.vfx-allowed .dialog-screen {
    transition: opacity 0.3s;
}

.dialog-bg {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: white;
}

.dialog-bg-inner {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body.vfx-allowed .dialog-bg-inner {
    transition: none;
}

body.vfx-allowed .dialog-bg {
    transition: opacity 0.3s;
}

body.vfx-allowed .dialog-bg-inner {
    -webkit-filter: blur(10px);
}

.dialog-bg.active {
    opacity: 1;
}

.dialog-screen.active {
    pointer-events: all;
    opacity: 1;
}

.dialog-screen.active .dialog {
    transform: translateY(-50%) translateX(-50%) scale(1);
}

#error-screen .dialog {
    background: linear-gradient(
        #f22 0%,
        #f22 20px,
        #fff 20px,
        #fff 100%
    );
}

#error-screen h3 {
    margin-top: 1.5em;
}

#error-screen .dialog .error-details-pre {
    flex: 1;
    overflow: auto;
    background: #ddd;
}

#error-screen .report-error {
    float: left;
    padding-left: 1em;
    line-height: 25px;
}

.dialog .button-pane {
    border-top: 1px solid black;
    width: 100%;
    text-align: right;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.dialog .button-pane button {
    margin-right: 10px;
}

.dialog h3, #error-screen .dialog .error-details-pre {
    padding: 0px 10px;
}

.dialog h3 {
    word-wrap: break-word;
}

#input-screen .dialog {
    min-width: 50%;
}

#input-screen .input-content {
    flex: 1;
}

#input-screen .input-content-input {
    width: calc(100% - 1em);
    box-sizing: border-box;
    margin: 1em 0.5em;
}

#input-screen .input-details {
    margin: 1em 1em;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.widget.widget-StaticImage {
    background-color: transparent;
}

.widget.widget-MjpegStream .stream, .widget.widget-USBCameraStream .stream {
    width: 100%;
    height: 100%;
}

.widget.widget-USBCameraStream .stream {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: monospace;
}

.widget-StaticImage .image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
}

.widget-Meter .widget-input {
    min-width: 100px;
    height: 100%;
    min-height: 20px;
    overflow: hidden;
}

.widget-Dial .dial-container {
    position: relative;
    flex: 1;
    min-width: 205px;
    min-height: 205px;
}

.widget-Meter .widget-input div {
    background: lightblue;
    width: 0;
    height: 100%;
    min-height: 20px;
}

.widget-Dial .widget-input {
    width: 200px;
    height: 200px;
    max-width: 200px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -100px;
    
    border: 1px solid black;
    border-radius: 100px;
}

.widget-Dial .widget-input .needle {
    width: 10px;
    height: 100px;
    position: absolute;
    left: calc(50% - 5px);
    transform-origin: bottom;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 100px solid lightblue;
    box-sizing: border-box;
}

body.vfx-allowed .widget-Dial .widget-input .needle {
    transition: transform 0.1s;
}

.widget-Dial .widget-input .tick {
    border-left: 1px solid black;
    height: 20px;
    position: absolute;
    left: 50%;
    top: 0px;
    transform-origin: 0px 100px;
}

.tick.tick-45 {
    transform: rotate(45deg);
}
.tick.tick-90 {
    transform: rotate(90deg);
}
.tick.tick-135 {
    transform: rotate(135deg);
}
.tick.tick-180 {
    transform: rotate(180deg);
}
.tick.tick-225 {
    transform: rotate(225deg);
}
.tick.tick-270 {
    transform: rotate(270deg);
}
.tick.tick-315 {
    transform: rotate(315deg);
}

.tick-label {
    transform-origin: center;
}
.tick.tick-0 .tick-label {
    transform: translateX(-50%) translateY(20px) rotate(0deg);
}
.tick.tick-45 .tick-label { 
    transform: translateX(-50%) translateY(20px) rotate(-45deg);
}
.tick.tick-90 .tick-label {
    transform: translateX(-50%) translateY(20px) rotate(-90deg);
}
.tick.tick-135 .tick-label {
    transform: translateX(-50%) translateY(20px) rotate(-135deg);
}
.tick.tick-180 .tick-label {
    transform: translateX(-50%) translateY(20px) rotate(-180deg);
}
.tick.tick-225 .tick-label {
    transform: translateX(-50%) translateY(20px) rotate(-225deg);
}
.tick.tick-270 .tick-label {
    transform: translateX(-50%) translateY(20px) rotate(-270deg);
}
.tick.tick-315 .tick-label {
    transform: translateX(-50%) translateY(20px) rotate(-315deg);
}

.prefs-edit-btn {
    margin-left: 0.5em;
    font-size: 0.7em;
}

.widget-update {
    display: block;
    position: absolute;
    font-size: 0.7em;
    opacity: 0;
    pointer-events: none;
    text-shadow: 0px 0px 5px white, 0px 0px 1px white;
    top: -1000px;
    left: -1000px;
}

body.vfx-allowed .widget-update {
    transition: opacity 0.2s, background 0.5s, box-shadow 0.5s;
}

.widget-update.active {
    opacity: 1;
    pointer-events: all;
}


.widget-drag-image {
    display: block;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: -1000px;
    left: -1000px;
}

body.vfx-allowed .widget-drag-image.drop {
    transition: top 0.2s, left 0.2s;
}

.widget-drag-image.active {
    opacity: 1;
}

.reorder-image {
    display: block;
    position: fixed;
}

body.vfx-allowed .reorder-image.active {
    transition: top 0.2s, left 0.2s;
}

#update-screen progress {
    width: 100%;
}

#update-screen .dialog {
    overflow: hidden;
    min-width: 50%;
}

#update-screen pre {
    margin-left: 1em;
    margin-right: 1em;
    word-wrap: break-word;
    white-space: pre-wrap;
}

#update-screen p {
    margin: 0 1em;
}

.widget-trash {
    pointer-events: none;
    font-size: 3em;
    position: fixed;
    left: 30px;
    bottom: -100px;
    z-index: -1;
}

body.vfx-allowed .widget-trash {
    transition: all 0.3s;
}

.widget-trash.active {
    bottom: 20px;
}

.widget-trash.hover {
    text-shadow: 0px 0px 10px red;
    transform: scale(1.1);
}

.connection-status, button, #entries h3, .dialog *:not(pre):not(code), .widget-trash, .widget-update, #controls {
    user-select: none;
    -webkit-user-select: none;
}

.tooltip {
    background: rgba(0, 0, 0, 0.6);
    user-select: none;
    -webkit-user-select: none;
    color: white;
    border-radius: 10px;
    position: absolute;
    top: -1000px;
    left: -1000px;
    opacity: 0;
    pointer-events: none;
    padding: 5px;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: calc(50% - 8px);
    width: 8px;
    height: 8px;
    box-sizing: border-box;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

.tooltip.caret-left::after {
    left: -8px;
    border-right: 8px solid rgba(0, 0, 0, 0.6);
}

.tooltip.caret-right::after {
    right: -8px;
    border-left: 8px solid rgba(0, 0, 0, 0.6);
}

body.vfx-allowed .tooltip {
    transition: opacity 0.3s, background 0.3s, box-shadow 0.3s;
}

.tooltip.active {
    opacity: 1;
}